<div class="relative mx-auto align-center">
  <h1 class="text-[40px] font-bold">Update <%= @company.name%></h1>

  <%= form_with(url: "/company/edit/#{@company.id}" , model: @company, method: :post, class: "flex flex-col gap-6 py-10") do |f| %>
    <div class="flex flex-col md:flex-row gap-6 md:gap-2 justify-between">
      <%= f.text_field :name, required: true, placeholder: "Name*", class: "bg-white rounded border-1 placeholder:font-light focus:ring-[#7D4FE0]" %>
    <div class="flex flex-col md:flex-row gap-6 md:gap-2">
      <div class="mt-2">
        <%= f.submit "Update", class: "bg-blue-600 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded cursor-pointer" %>
      </div>
      
    </div>

  <% end %>
  <div class="mt-2">
    <%= button_to "Delete Company", "/company/#{@company.id}", method: :delete, data: { confirm: "Are you sure you want to delete this prospect?" }, class: "bg-red-600 hover:bg-red-700 text-white py-2 px-4 rounded-md" %>
  </div>
</div>


<%= render(ClientTableComponent.new(prospects: @prospects, table_fields: @table_fields, current_page: @current_page, total_pages: @total_pages)) %>

