<!DOCTYPE html>
<html>
  <head>
    <title>BasicCrm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render(HeaderComponent.new()) %>
    <main class="container mx-auto mt-28 px-5 flex">
      <% if flash[:success] %>
        <div class="btn btn-secondary fixed text-sm bottom-5 right-5 z-20">
          <p class="alert text-green-500"><%= flash[:success] %></p>
        </div>
      <% end %>

      <% if flash[:error] %>
        <div class="btn btn-secondary fixed text-sm bottom-5 right-5 z-20">
          <p class="alert text-red-500"><%= flash[:error] %></p>
        </div>
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
